---
import AgencyLandingPage from "../components/AgencyLandingPage.jsx";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>My Agency</title>
  </head>
  <body>
    <AgencyLandingPage />
  </body>
</html>
